h2 {
    height: 90;
    width: 75px;
    display: inline;
    
}
a {
    color: white;
    
}
 body {
    background-color: grey;
}
h1 {
    color: white;
    position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}
button {
    background-color: black;
    color: red;
    border-radius: 30px;
    height: 50px;
    position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
}
h3 {
    color: rgb(255, 255, 255);
    position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%);
}
